.banner {
  position: relative;
  background-size: cover;
  background-position: center center;
  padding: 150px 0px;
  opacity: 0.7;
}


.container h1 {
  color: rgb(255,255,255);
  display: block;
  font-family: 'Sacramento', cursive;
  font-size: 48px;
  margin-bottom: 0px;
}

.container p {
  color: #3C4245;
  display: block;
  margin-top: 5px;
}

.container {
  margin: auto;
  width: 900px;
  justify-content: center;
  text-align: center;
}
