.footer {
  background-color: #6a1051;
  text-align: center;
  padding: 30px;
}

.footer h2 {
  font-size: 32px;
  color: white;
  font-family: 'Sacramento', cursive;
}

.footer-links {
  display: block;
  justify-content: space-between;
  object-fit: center;
}

.footer a {
  color: #6AD58B;
  font-size: 30px;
  margin-right: 3px;
}

.footer a:hover {
  color: #3bc162;
}
